body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

i:hover {
  background-color: white;
   transition: all 0.3s ease-in-out;
}

/* This enables the use of flexbox on more versions of safari, which is required for proper column spacing */
.row-fluid {
  display: -webkit-flex;
}
