body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

i:hover {
  background-color: white;
   transition: all 0.3s ease-in-out;
}

/* this is an attempt to solve a bootstrap column spacing issue on iphone/safari */
.row::before .row::after {
  display:block;
}